/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap

 */
 * {
    font-family: 'Arial';
}

p {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
}

h1 {
    padding-top: 38px;
}

 /* body {
     font-family: 'Indie Flower', cursive;
     background: radial-gradient(
      #00000096,
      #b7b7b796
    );
    z-index: -2px;
    background-size: cover;
 }


.app-title {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    color: #1f5f38 ;
    font-size: 45px;

}


.container {
    text-align: right;
    background-attachment: fixed;
    margin: 10px;

}

#header-ul li {
  display:inline;
  list-style-type: none;
  text-align: right;
}

.nav-bar {
    border: 1px solid black;
    border-radius: 65px 10px 65px;
    padding: 10px;
    background: #fcfeff;
}

a {
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}
a:hover {
    text-decoration: underline;
    color: #1f5f38;
}

.logged-in-navbar {
    text-align: right;
    padding: 15px;

}

.horizontal-line {
    color: blue;
}

.login-wrapper {
    text-align: center;
    padding: 100px;
}

.trail-name {
    font-size: 55px;
    padding: 0px;
    margin: 0px;
    color: #1f5f38;
}

#avg-rating {
    color: #1f5f38;
    font-size: 25px;
}


.photos {
    height: 300px;
    width: 75%;

}

.photos img {
    position: absolute;
    margin: auto;
    min-height: 40%;
    min-width: 40%;

} */
